.top-spacing {
  margin-top: 1em;
}

.top-spacing-small {
  margin-top: 0.5em;
}

.bottom-spacing {
  margin-bottom: 1em;
}

.bottom-spacing-small {
  margin-bottom: 0.5em;
}

.vertical-spacing {
  margin: 1em 0;
}

.vertical-spacing-small {
  margin: 0.5em 0;
}

.horizontal-spacing {
  margin: 0 1em;
}

.horizontal-spacing-small {
  margin: 0 0.5em;
}

.spacing {
  margin: 1em;
}

.spacing-small {
  margin: 0.5em;
}

.stretch-x {
  width: 100%;
}
