.card {
  width: 80%;
  /* min-width: 30rem; */
  & :global(.ant-card-head-title) {
    display: flex;
    justify-content: center;
  }

  & :global(.ant-card-head) {
    border-bottom: none;
  }
}

.footer {
  & :global(.ant-form-item-control-input-content) {
    display: flex;
    justify-content: center;
  }
}
