@import '@ag-grid-community/core/dist/styles/ag-grid.css';
@import '@ag-grid-community/core/dist/styles/ag-theme-alpine.css';

.ag-theme-alpine {
  --ag-border-color: var(--border-color);
  --ag-background-color: var(--background-color);
  --ag-header-background-color: var(--background-color);
  --ag-row-border-color: transparent;
}

.ag-theme-alpine input[class^='ag-'] {
  background-color: white;
}
